body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}
a {
    display: none;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.appContainer {
    border: solid black 1px;
    width: 400px;
    border-radius: 15px;
    height: 400px;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    overflow: hidden;

}
.imgContainer {
    /* border: solid purple; */
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ECEFD;
    height: 120px;
}
.profileContainer {
    /* border: solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
}
h3 {
    margin-bottom: 5px;
    margin-left: 5px;

}
h3, p {
    margin-left: 5px;
}

.contact {
    /* color: #eee; */
    margin-top: 0px;
    margin-left: 5px;
    font-size: 13px;

}

.edit {
    background-color: #505355;
    border-radius: 10px;
    border:  none;
    font-family: 'Work Sans', sans-serif;
    color: white;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.edit:hover, .updateButton:hover {
    background-color:#5BECD8;

    
}

h4 {
    color: #1ECEFD;

}

.formContainer {
    border: solid black 1px;
    width: 400px;
    border-radius: 15px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}
.updateButton{
    background-color: #505355;
    border-radius: 10px;
    border:  none;
    font-family: 'Work Sans', sans-serif;
    color: white;
    width: 200px;
    height: 30px;

}

input, textarea {
    border-radius: 10px;
    background-color: white;
    border: solid black 1px;
}

input {
    height: 30px;
    width: 200px;
}

textarea {
    height: 75px;
    width: 200px;
}




